VITE_FIREBASE_API_KEY=AIzaSyCvqp5HYUMnogWmwT0O1LFLOMsfqj9P83s
VITE_FIREBASE_AUTH_DOMAIN=med-heklp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=med-heklp
VITE_FIREBASE_STORAGE_BUCKET=med-heklp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=675054342845
VITE_FIREBASE_APP_ID=1:675054342845:web:91e53e21060a087123ddd4
VITE_FIREBASE_MEASUREMENT_ID=G-BLWYTWFFTZ

VITE_ADMIN_SYNC_KEYS=
VITE_PREMIUM_SYNC_KEYS=

  apiKey: "AIzaSyCvqp5HYUMnogWmwT0O1LFLOMsfqj9P83s",
  authDomain: "med-heklp.firebaseapp.com",
  projectId: "med-heklp",
  storageBucket: "med-heklp.firebasestorage.app",
  messagingSenderId: "675054342845",
  appId: "1:675054342845:web:91e53e21060a087123ddd4",
  measurementId: "G-BLWYTWFFTZ"